<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.group.servlet.Test</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ViewClassList</servlet-name>
    <servlet-class>com.group.servlet.ViewClassList</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>com.group.servlet.UploadFile</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ViewStudentForm</servlet-name>
    <servlet-class>com.group.servlet.ViewStudentForm</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddSkill</servlet-name>
    <servlet-class>com.group.servlet.AddSkill</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ViewProjectList</servlet-name>
    <servlet-class>com.group.servlet.ViewProjectList</servlet-class>
  </servlet>

	<filter>  
    	<filter-name>JsonpFilter</filter-name>  
    	<filter-class>com.group.filter.JsonpFilter</filter-class>  
	</filter>  
  


  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewClassList</servlet-name>
    <url-pattern>/ViewClassList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewStudentForm</servlet-name>
    <url-pattern>/ViewStudentForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSkill</servlet-name>
    <url-pattern>/AddSkill</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewProjectList</servlet-name>
    <url-pattern>/ViewProjectList</url-pattern>
  </servlet-mapping>
  
  <filter-mapping>  
    <filter-name>JsonpFilter</filter-name>  
    <url-pattern>/*</url-pattern>  
  </filter-mapping> 

  	
</web-app>